docker.enabled = true

process {
  withName: FQ2BAM, BQSR_TABLE, APPLY_BQSR, MUTECTCALLER {
    container = 'nvcr.io/nvidia/clara/clara-parabricks:4.4.0-1'
    containerOptions = '--gpus all'
  }
  withName: ADD_RG {
    container = 'broadinstitute/picard:2.27.5'
  }
  withName: FILTER_MUTECT_CALLS {
    container = 'broadinstitute/gatk:4.4.0.0'
  }
}
